nav a { 
    text-decoration: none;
    color: black;
    margin: 2em;
}

nav:first-child { 
    display: flex;
    justify-content: center; /* 가운데 정렬 */
}

#underline {
    position: absolute;
    width: 100%;
    background-color: cadetblue;
    top: 60px;
    height: 4px;
}